
{% include 'cabecalho.html' %}
<div class="corpo_app">

<h2>Autorização Para Turma</h2>

<table  class="ui celled table" >
  <thead>
    <tr>
      <th>Turma</th>
      <th>Motivo</th>
      <th>Observações</th>
      <th>Data e Hora</th>
      <th colspan="3"> Opções</th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td>{{  autorizacaoTurma.turma.nome }}</td>
        <td>{{  autorizacaoTurma.motivo }}</td>
        <td>{{  autorizacaoTurma.observacoes }}</td>
        <td>{{  autorizacaoTurma.data }}</td>
      </tr>
  </tbody>
</table>

<a href="{% url 'egressapp:autorizacaoTurmaUpdate' autorizacaoTurma.pk  %}" class="ui button" > Editar </a>
<a href="{% url 'egressapp:autorizacaoTurmaDelete' autorizacaoTurma.pk  %}" class="ui red button" > Deletar </a>
<a href="javascript:window.history.go(-1)" class="ui secondary button" >Voltar</a>


</div>
{% include 'rodape.html' %}
