{% include 'cabecalho.html' %}
<div class="corpo_app">

<h2>Nova Autorização Para a Turma {{turma.nome}} </h2>



<form class="ui form" action="" method="post">{% csrf_token %}
<p>{{erro}}</p>

<p>
  <label for="id_motivo">Motivo:</label>
  <input type="text" name="motivo" id="id_motivo" required maxlength="100" />
</p>
<p>Data e Hora Atual</p>
<!--
<p>
  <label for="id_data">Data:</label>
  <input type="text" name="data" value="01/02/2018 10:00:00" id="id_data" required /> <input type="hidden" name="initial-data" value="2018-01-30 00:13:04" id="initial-id_data" />
</p>
-->
<p>
  <label for="id_observacoes">Observacoes:</label>
  <input type="text" name="observacoes" id="id_observacoes" maxlength="100" />
</p>



    <input type="submit" value="Salvar" class="ui button positive" />
    <a href="javascript:window.history.go(-1)" class="ui button" >Cancelar</a>
</form>

</div>
{% include 'rodape.html' %}
